h1 {
    color: blue;
    font-size: 50px;
<<<<<<< HEAD
    font-style: initial;
=======
    font-style: initial
>>>>>>> 37f3350a18f68b5e34c4026ffc5a2446eba9eccb
}

img {
    width: 400px;
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 10px 10px 18px 0px grey;
    border-radius: 13px;
<<<<<<< HEAD
=======
}

a {
    font-size: 25px;
    color: brown;
    font-style: normal
>>>>>>> 37f3350a18f68b5e34c4026ffc5a2446eba9eccb
}

a {
    font-size: 25px;
    color: brown;
    font-style: normal
}